.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.user-image {
  max-width: 40px;
  margin-top: 10px;
}

.sort-buttons {
  border: 1px solid;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
}

.article-list-wrapper {
  overflow: hidden;
  border: 1px solid;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}

.topic-list-wrapper {
  overflow: hidden;
  border: 1px solid;
  border-radius: 2px 2px 0 0;
  margin-bottom: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
}
