.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 22px;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

/* Nav Bar */

.NC-logo {
  font-size: 26px;
}

.user-image {
  max-width: 40px;
  margin-top: 10px;
}

/* Articles */

.article-list {
  border: 1px solid #cccccc;
  border-bottom: none;
  background: white;
  overflow: hidden;
}

.article-list-post {
  display: grid;
  grid-template-columns: none;
  grid-gap: 5px;
  position: relative;
  width: fill;
  overflow: hidden;
  margin-top: 1em;
  border: 1px solid #cccccc;
  /* border: 1px solid red; */
}

.article-list-content-wrapper {
  position: absolute;
  margin: 1.5em 0em 0em 5em;
  /* border: 1px solid red; */
}

.article-list-icon {
  position: relative;
  display: inline-block;
  margin: 0em 1.5em 3em 2.5em;
  /* border: 1px solid red; */
}

.article-list-info {
  position: relative;
  display: inline-block;
  text-align: left;
  margin: 0em 0em 0em 1.5em;
}

.article-list-title {
  position: relative;
  color: #222222;
  margin-bottom: 2%;
  font-size: 18px;
}

.article-list-topic {
  position: relative;
}

/* Single Article */

.container {
  position: relative;
  flex-wrap: wrap;
}

.single-article {
  display: flex;
  position: relative;
  width: auto;
  margin: 2em 0em 1em 0em;
  border: 1px solid #cccccc;
  /* border: 1px solid red; */
}

.single-article-content {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin: 1.5em 1em 1.5em 2em;
  /* border: 1px solid red; */
}

.single-article-title {
  color: #222222;
  font-size: 26px;
  margin: 0em 0em 0.5em 1em;
}

.single-article-content .body {
  margin: 1em 2.5em 0em 2em;
  font-size: 16px;
}

.single-article-content .topic {
  margin: 1em 0em 0em 2em;
  font-size: 14px;
}

/* Comments */

.comments-container {
  position: relative;
  overflow: hidden;
  align-items: left;
  /* border: 1px solid yellow; */
}

.comment-wrapper {
  display: flex;
  margin: 0em 0em 1em 0em;
  align-items: left;
  border: 1px solid #cccccc;
  /* border: 1px solid red; */
}

.comment-content {
  position: relative;
  display: inline-block;
  width: fill;
  height: auto;
  margin: 0em 1.5em 0em 2em;
  /* border: 1px solid green; */
}

.comment-body {
  position: relative;
  height: auto;
  margin: 0em 0em 2em 0em;
  font-size: 14px;
  /* border: 1px solid red; */
}

.comment-author {
  position: absolute;
  bottom: 0;
  margin: 0em 0em 0.75em 0em;
  padding: 1em 0em 0em 0em;
  font-size: 12px;
  /* border: 1px solid red; */
}

.comment-delete {
  position: relative;
  /* border: 1px solid red; */
}

/* Topics */

.topic-list-cards {
  /* height: 5em; */
  border: 1px solid yellow;
}

.topic-link {
  font-size: 22px;
}

.card-content {
  font-size: 16px;
  /* border: 1px solid red; */
}

.card-image {
  height: auto;
  max-height: 300px;
  width: auto;
  max-width: 1600px;
  overflow: hidden;
}

/* Voting */

.voting-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  top: 50%;
  bottom: 50%;
  text-align: center;
  padding: 10px;
  width: 60px;
  background: #f7f9fa;
  /* border: 1px solid red; */
}

.vote-count {
  padding: 0.25em;
}

/* Buttons */

.article-list-buttons {
  border-radius: 2px 2px 0 0;
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
}

.order-by-buttons {
  border-radius: 2px 2px 0 0;
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
}

.topic-sort-buttons {
  border-radius: 2px 2px 0 0;
  display: inline-block;
  text-align: center;
  padding: 8px 16px;
}

.pagination-wrapper {
  text-align: center;
  padding: 1em 1em 1em 1em;
}

/* Other */

.card-title {
  color: #222222;
  font-size: 18px;
}

.community {
  color: #1c1c31;
}
